$green000: #93CBA9;
$green100: #90D5AC;
$green200: #4CA585;
$green300: #006B63;
$green400: #005850;

$white: #FFFFFF;
$black: #000000;
$grey: #C3C5C6;

$fontBody: #2a2a2a;
$darkgrey: #3E3F3F;
$lightgrey: #707070;

$font-stack-manrope: 'Manrope', sans-serif;

$regular: 400;
$semiBold: 600;
$bold: 700;

$trans: ease-in-out all 0.4s;