.uses-single {
  &__content {
    padding: 45px 0;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1rem;
    }
   @include media-breakpoint-up(md){
     padding-top: 75px;
     padding-bottom: 80px
   }
  }
}