.breadcrumbs {
  background-color: #F4F4F4;
  padding: 20px 0;
  //Tablet
  @include media-breakpoint-up(md){
    padding: 37px 0 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      font-weight: $semiBold;
      @include letter-spacing(120);
      //Tablet
      @include rfs(12px);
      line-height: get-line-height(12, 18);
      //Desktop
      @include media-breakpoint-up(lg){
        @include rfs(17px);
        line-height: get-line-height(17, 20);
      }

      text-transform: uppercase;
      margin-right: 5px;
      a {
        color: $green200;
      }
    }
  }
  .pre-text {
    color: $darkgrey;
  }
  .current-page {
    color: #727372;
  }
}